.bay-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: min(2vh, 1vw);
}

.card-bayName {
  font-weight: bold;
  background-color: #DCE6F1;
  grid-row: 1/1;
  grid-column: 1/1;
  /* border: 2px solid #000; */
}
/* .house-card {
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
} */

.card-onlineDate {
  grid-row: 2/2;
  grid-column: 1/1;
}

.card-npl {
  grid-row: 3/3;
  grid-column: 1/1;
  font-weight: bold;
  /* font-size: 2.2vh; */
}

.card-modelNumber {
  grid-row: 4/4;
  grid-column: 1/1;
}

.card-customer {
  grid-row: 5/5;
  grid-column: 1/1;
  height: 2.2vh;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-size {
  grid-row: 6/6;
  grid-column: 1/1;
}
