.status1 {
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
}

.status2 {
  background-color: #f9cbcf !important;
  color: black !important;
}

.status3 {
  background-color: #fbebb5 !important;
  color: black !important;
}

.status4 {
  background-color: #c3f0cd !important;
  color: black !important;
}

.bay-card-text {
  margin: 0;
  padding: 0;
  font-size: 12px !important;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-bayName {
  font-weight: bold;
  background-color: #726b6b;
  color: white;
  grid-row: 1/1;
  grid-column: 1/1;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-inline: 5px;
}

.house-card {
  grid-row: 2/10;
  grid-column: 1/1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-onlineDate,
.card-npl,
.card-modelNumber,
.card-customer,
.card-size {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-npl {
  font-weight: bold;
}
