.legend-example {
    display: grid;
    text-align: center;
    grid-template-columns: 5fr 1fr 5fr;
    grid-template-rows: repeat(7, 1fr);
    grid-column: 37/48;
    grid-row: 23/32;
    border: 2px solid #000;
  }
  .legend {
    grid-column: 1/2;
    grid-row: 1/1;
    font-weight: bold;
    color: red;
  }
  .example {
    grid-column: 3/3;
    grid-row: 1/1;
    font-weight: bold;
    color: #ffa726;
  }
  .legend-card {
    grid-column: 1/2;
    grid-row: 2/9;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
  }
  .example-card {
    grid-column: 3/3;
    grid-row: 2/9;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
  }