.legend-example {
  display: grid;
  text-align: center;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: repeat(20, 1fr);
  grid-column: 37/48;
  grid-row: 22/40;
  border: 2px solid #000;
}

.legend-container {
  grid-column: 1/12;
  grid-row: 1/18;
}

.legend-title {
  background-color: grey;
  color: white;
}

.legend-content-container {
  padding: 10px;
}

.legend-example-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.legend-card {
  border: #726b6b 2px solid;
  width: 90px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-block: 2px;
}

.legend-item-text {
  font-size: 14px !important;
}

.legend-item-box {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
}
